<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tao.lightning_of_dark"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.tao.lightning_of_dark.ApplicationClass"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.CustomActionBar" >
        <activity
            android:name="com.tao.lightning_of_dark.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="StartOAuth"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="twitter"
                    android:scheme="lightning-of-dark" >
                </data>
            </intent-filter>
        </activity>
        <activity
            android:name=".userPageFragment.UserPage"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name="TweetActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="IntentActivity"
            android:theme="@style/Theme.TranslucentBackground" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="twitter.com"
                    android:pathPattern="/..*"
                    android:scheme="http" >
                </data>
                <data
                    android:host="twitter.com"
                    android:pathPattern="/..*"
                    android:scheme="https" >
                </data>
                <data
                    android:host="mobile.twitter.com"
                    android:pathPattern="/..*"
                    android:scheme="http" >
                </data>
                <data
                    android:host="mobile.twitter.com"
                    android:pathPattern="/..*"
                    android:scheme="https" >
                </data>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name="Settings" />
        <activity android:name="Settings_List" />
        <activity
            android:name=".swipeImageViewer.ImageFragmentActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.TranslucentBackground" >
        </activity>
        <activity
            android:name="Show_Video"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.TranslucentBackground" >
        </activity>
    </application>

</manifest>