<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sugtao4423.lod">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="sugtao4423.lod.App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/full_backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="sugtao4423.lod.ui.main.MainActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.addaccount.AddAccountActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="localhost"
                    android:pathPattern="/sugtao4423.lod/oauth.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name="sugtao4423.lod.ui.userpage.UserPageActivity" />
        <activity
            android:name=".ui.tweet.TweetActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.intent.IntentActivity"
            android:exported="true"
            android:theme="@style/Theme.TranslucentBackground">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="twitter.com" />
                <data android:host="mobile.twitter.com" />
                <data android:pathPattern="/..*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/settings" />
        <activity
            android:name=".ui.settingslist.ListSettingsActivity"
            android:label="@string/settings_list" />
        <activity
            android:name="sugtao4423.lod.ui.showimage.ShowImageActivity"
            android:theme="@style/Theme.TranslucentBackground" />
        <activity
            android:name=".ui.showvideo.ShowVideoActivity"
            android:theme="@style/Theme.TranslucentBackground" />

        <service android:name=".service.AutoLoadTLService" />
        <service
            android:name=".playing_music_data.MusicNotificationListener"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>

</manifest>
